
/* Reset default margin and padding */
body, h1, ul, li, p {
  margin: 0;
  padding: 0;

/* Color Palette */
:root {
  --primary-color: #580a66cd;
  --secondary-color: #f7d82a;
  --accent-color: #e9874a;
  --background-color: #ffffff;
  --text-color: #443535;
}

* {
  box-sizing: border-box;

}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
}

header h1 {
  font-size: 24px;
  color: #333;
}

header ul {
  list-style: none;
  margin-top: 20px;
}

header li {
  display: inline-block;
  margin-right: 10px;
}

header a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

main p {
  margin-bottom: 10px;
}


.card-details {
  margin-top: 20px;
  color: #000000;
}

.department-section.administration {
  background-color: #ffe6cc;
}

.department-section.finance {
  background-color: #ccf2ff;
}

.department-section.marketing {
  background-color: #e6ccff;
}

.department-section.development {
  background-color: #ccffcc;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}


footer p {
  margin-bottom: 5px;
}

footer a {
  color: #fff;
  margin-left: 5px;
}

/* Additional styling for employee details */
#demo1,
#demo3,
#demo5,
#demo7,
#demo9,
#demo11,
#demo13,
#demo2,
#demo4,
#demo6,
#demo8,
#demo10,
#demo12,
#demo14 {
  margin-bottom: 10px;
=======
#employees-container {
  margin-top: 20px;
}

#employee-table {
  width: 100%;
  border-collapse: collapse;
}

#employee-table th,
#employee-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#employee-table th {
  background-color: #f2f2f2;
  color: var(--primary-color);
}

#employee-table td {
  background-color: #ffffff;

}

